/*
 TabStrip.css
 用途: 作为选项卡条的样式文件, 定义选项卡条的布局和样式;
*/
.tab-strip {
  flex: 1;

  display: flex;
  align-items: stretch;
}

.tab-add {
  flex: 0;
  
  display: flex;
  justify-content: center;
  align-items: center;

  width: 23.8px;
  height: 21.34px;
}